<style>
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #f1f1f1;
}
#placeholder {
  position: fixed; /* Ensures the element stays in place when scrolling */
  min-width: 100vw;
  min-height: 100vh; /* Covers the entire viewport */
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  color: white; /* Text color */
  text-align: center; /* Centers the text content */
  display: flex; /* Allows vertical and horizontal centering of content */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  z-index: 100; /* Ensures the placeholder is displayed on top of other elements */
}
</style>

@if(showPlaceholder) {
<div style="color: white; text-align: center; align-items: flex;">
  <h1>This website is under development!<br /></h1>

  <p><br/>Check back soon for the full experience.</p>
  <a routerLink="/resume" (click)="hidePlaceholder()"><br>My Resume</a>
</div>
}

<router-outlet></router-outlet>
<!--
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link text-white" href="/">Home</a> 
      <a class="nav-item nav-link text-white" href="/resume">Resume</a>
      <a class="nav-item nav-link text-white" href="/projects">Projects</a>
      <a class="nav-item nav-link text-white" href="/contact">Contact</a>
    </div>
  </div>
</nav>

<router-outlet />

<div class="footer">
  <img src="../favicon.ico">
  <img src="../assets/2560px-Node.js_logo.svg.png" style="height: 5vh; width: 5vw;">
</div>
-->